<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.doers.wakemeapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="roboguice.modules"
            android:value="com.doers.wakemeapp.config.ConfigurationModule"/>

        <meta-data
            android:name="roboguice.annotations.packages"
            android:value="com.doers.wakemeapp"/>

        <activity android:name=".controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controllers.alarms.AlarmManagerActivity">
        </activity>
    </application>

</manifest>