<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.doers.wakemeapp">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".di.WakeMeAppApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".controllers.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".controllers.alarms.AlarmManagerActivity"/>
    <activity android:name=".controllers.playlists.PlaylistsManagerActivity"/>
    <activity
      android:name=".controllers.playlists.AddPlaylistActivity"
      android:windowSoftInputMode="stateHidden"/>

    <receiver
      android:name=".controllers.alarms.AlarmReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.doers.wakemeapp.ALARM_WAKE_UP"/>
      </intent-filter>
    </receiver>

    <activity android:name=".controllers.alarms.LaunchAlarmActivity">
    </activity>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="97da131052aaea309fc8753ecd7169a0b8e605bb"/>

    <service
      android:name=".controllers.alarms.SoundService"
      android:enabled="true"
      android:exported="false">
    </service>
  </application>

</manifest>